.ira_ticker {
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #6e6c6b;
}

#output_label {
  font-size: 32px;
  font-weight: 700;
}

#output_loss {
  margin-bottom: 50px;
  color: #1d468d;
  font-size: 28px;
  font-weight: 700;
}

#job_days_loss {
  color: #1d468d;
  font-weight: 700;
}

#employment_loss {
  color: #1d468d;
  font-weight: 700;
}

#labor_income_loss {
  color: #1d468d;
  font-weight: 700;
}

.agency_dropdown_container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agency_dropdown_container label {
  font-size: 18px;
  font-weight: 300;
  margin-right: 10px;
}

.agency_dropdown_container select {
  width: 80px;
  border: none;
  outline: none;
  background-color: #f2f0ef;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #1d468d;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.agency_dropdown_select_container::after {
  content: "▼";
  position: relative;
  right: 25px;
  color: #1d468d;
  pointer-events: none;
  font-size: 12px;
}

div.methodology {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

div.methodology > span {
  width: 100%;
  padding: 10px;
  text-align: right;
  font-size: 14px;
  color: #1d468d;
  background-color: #f2f0ef;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
  cursor: pointer;
}

div.methodology > span:hover {
  background-color: #ddd;
}
