body {
  margin: 0;
  padding: 0;
}

.ira_atrisk {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  font-size: 26px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #6e6c6b;
  border: 4px solid #002F65;
  border-radius: 75px 0px;
}

#funding_atrisk_label {
  font-size: 22px;
  font-weight: 500;
}

#funding_atrisk {
  font-size: 24px;
  font-weight: 700;
  color: #1d468d;
}

.modeled_values {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 25px 0px 40px 0px;
}

.modeled_values > div {
  width: 200px;
  margin: 10px;
}

.modeled_values > div > div:first-child {
  width: 130px;
  margin: 0px auto 20px auto;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  background-color: #f2f0ef;
  color: #1d468d;
}

#output_atrisk,
#job_days_atrisk,
#labor_income_atrisk {
  font-size: 20px;
  font-weight: 700;
  color: #1d468d;
}

.agency_dropdown_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.agency_dropdown_container label {
  font-size: 18px;
  font-weight: 300;
  margin-right: 10px;
}

.agency_dropdown_container select {
  width: 80px;
  border: none;
  outline: none;
  background-color: #f2f0ef;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #1d468d;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.agency_dropdown_select_container::after {
  content: "▼";
  position: relative;
  right: 25px;
  color: #1d468d;
  pointer-events: none;
  font-size: 12px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #6e6c6b;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 300px;
  position: absolute;
  z-index: 1;
  top: calc(100% + 20px);
  left: 50%;
  margin-left: -150px;
  pointer-events: none;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #6e6c6b transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 800px) {
  .ira_atrisk {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
  }

  #funding_atrisk_label {
    font-size: 2.5vw;
  }

  #funding_atrisk {
    font-size: 2.5vw;
  }

  .modeled_values {
    width: 100%;
    margin: 0px;
  }

  .modeled_values > div {
    width: 40%;
  }

  .modeled_values > div > div:first-child {
    width: fit-content;
    font-size: 2vw;
  }

  #output_atrisk,
  #job_days_atrisk,
  #labor_income_atrisk {
    font-size: 2.5vw;
  }

  .agency_dropdown_container label {
    font-size: 2vw;
  }

  .agency_dropdown_container select {
    width: 70px;
    font-size: 2vw;
  }
}

@media (max-width: 550px) {
  .ira_atrisk {
    padding: 20px 0px;
  }

  .agency_dropdown_container label {
    font-size: 2.5vw;
  }

  .agency_dropdown_container select {
    width: 70px;
    padding: 8px;
    font-size: 2.5vw;
  }

  .agency_dropdown_select_container::after {
    font-size: 2vw;
  }

  .tooltip .tooltiptext {
    width: 150px;
    margin-left: -75px;
  }
}
