.ira_ticker {
  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  font-size: 26px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #6e6c6b;
}

#output_loss {
  color: #1d468d;
  font-weight: 700;
}

#employment_loss {
  color: #1d468d;
  font-weight: 700;
}

#labor_income_loss {
  color: #1d468d;
  font-weight: 700;
}
