.ira_ticker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  height: 100vh;
  font-size: 26px;
}

#output_loss {
  font-weight: bold;
}

#employment_loss {
  font-weight: bold;
}

#labor_income_loss {
  font-weight: bold;
}
