.ira_ticker {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  font-size: 26px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #6e6c6b;
}

#output_container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#output_label {
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 700;
}

#output_loss {
  color: #1d468d;
  font-size: 50px;
  font-weight: 700;
}

#job_days_loss {
  color: #1d468d;
  font-weight: 700;
}

#labor_income_loss {
  color: #1d468d;
  font-weight: 700;
}

.agency_dropdown_container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agency_dropdown_container label {
  font-size: 18px;
  font-weight: 300;
  margin-right: 10px;
}

.agency_dropdown_container select {
  width: 80px;
  border: none;
  outline: none;
  background-color: #f2f0ef;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #1d468d;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.agency_dropdown_select_container::after {
  content: "▼";
  position: relative;
  right: 25px;
  color: #1d468d;
  pointer-events: none;
  font-size: 12px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #6e6c6b;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 300px;
  position: absolute;
  z-index: 1;
  top: calc(100% + 20px);
  left: 50%;
  margin-left: -150px;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #6e6c6b transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 800px) {
  .ira_ticker {
    font-size: 5vw;
  }

  #output_label {
    font-size: 12vw;
  }
  
  #output_loss {
    font-size: 10vw;
  }
  
  #job_days_loss,
  #labor_income_loss {
    font-size: 5vw;  
  }

  .agency_dropdown_container label {
    font-size: 4vw;
  }

  .agency_dropdown_container select {
    font-size: 3vw;
  }

  .tooltip .tooltiptext {
    width: 250px;
    margin-left: -125px;
  }
}
